* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Orbitron:500');

i{
  font-size: 30px;
}

h1 {
  height: 50px;
  font-size: 40px;
  font-weight: 900;
  background-color: #cfcfcf
}

h2 {
  height: 40px;
  font-size: 30px;
  font-weight: 800;
  background-color: #cfcfcf
}

h3 {
  height: 30px;
  font-size: 25px;
  font-weight: 700;
  background-color: rgb(207, 207, 207)
}

p {
  min-height: 25px;
  font-size: 18px;
  margin: 1px;
  overflow: auto;
}

input{
  height: 26px;
  width: 240px;
  font-size: 18px;
  margin: 2px;
  border: solid #8d8c8c 1px;
}

textarea{
  border: solid #8d8c8c 1px;
  font-size: 18px;
  margin: 2px;
  width: 240px;
}

select{
  height: 26px;
  font-size: 18px;
  margin: 2px;
  border: solid #8d8c8c 1px
}

button{
  height: 28px;
  width: 150px;
  font-size: 18px;
  margin: 2px;
  border: solid #8d8c8c 1px;
}

a{
  color: black;
  text-decoration-line: none;
}

::selection {
  background: #E2F2E1;
}

.App {
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden; 
}

.loadingAnimationBackground{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(207, 207, 207, .6);
  z-index: 5;
}

.loadingAnimation{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #E2F2E1;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.wrapper{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
  align-items: center;
}

.flexRow{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
  align-items: flex-start;
}


.nav{
  width: 100vw;
  height: 50px;
  max-width:100%;
  background-color: #E2F2E1;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  border-bottom: solid #8d8c8c 1px;
  border-top: solid #8d8c8c 1px;
  position: fixed;
}

.slideNavOpen{
  right: -0px;
  transition: 400ms;
  position: absolute;
}

.slideNavClosed{
  right: -240px;
  transition: 200ms;
}

.pageCon{
  padding-top: 50px;
  height: 100vh;
}

.homepage{
  margin-top: 10px;
}

.user{
}

.createUser{
}

.login {
}

.deleteUser{
}

.listItem{
  width: 340px;
  border-bottom: solid #8d8c8c 1px;
  border-top: solid #8d8c8c 1px;
  margin: 5px;
  background: #E2F2E1;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.homeStartPosition{
  height: 100vh - 50px;
  top: -50px;
}

.descriptionContainer{
  background-color: #cfcfcf;
  box-shadow: 0 0 12px 10px #cfcfcf;
  width: 140px;
  height: 70px;
}

.listItemPage{
height: 100vh;
justify-content: flex-start;

}

.Item{
  height: 100vh;
  justify-content: flex-start;
}

.timestamp{
  font-size: 14px;
}

.itemsListPic{
  margin: 2px 25px 2px 2px;
  width: 150px;
  height: 100px;
}

.UserImg{
  margin: 2px 2px 2px 2px;
  width: 250px;
  height: 150px;
}

.mainLogo{
  font-size: 25px;
}

.Trader{
  font-family: 'Orbitron' , sans-serif;
}

.Green{
  font-family: 'Gloria Hallelujah', cursive;
}

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  }

.hero::before {
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/821642/pexels-photo-821642.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-position: center;
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.2;
}

.separator{
  width: 30%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.search{
  margin-top: 20px;
}

.mobileRemove{
  display: none;
}



@media (min-width: 600px) {
  .nav{
    width: 100vw;
    height: 50px;
    max-width:100%;
    background-color: #E2F2E1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border-bottom: solid #8d8c8c 1px;
    border-top: solid #8d8c8c 1px;
    /* position: fixed; */
  }

  .fullScreenNavRemove{
    display: none;
  }

  .fullScreenNavAdd{

  }

  .mobileRemove{
    display: flex;
  }

  .menuTag{
    font-size: 20px;
  }

}